[Unit]
Description=Labgrid Coordinator
Wants=network-online.target
After=network-online.target inet-up.service

[Service]
User=example_user
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/example_user/labgrid/labgrid-venv/bin/labgrid-coordinator
Restart=on-failure
DynamicUser=yes
StateDirectory=labgrid-coordinator

[Install]
WantedBy=multi-user.target
