[Unit]
Description=Netbird up
After=inet-up.service

[Service]
User=example_user
Type=oneshot
ExecStart=/bin/netbird up --setup-key example_key
WorkingDirectory=/home/example_user
RemainAfterExit=true
[Install]
WantedBy=default.target
